<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".utils.ResumeMakerApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:fullBackupContent"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResumeMaker"
        tools:targetApi="31">
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />
        <activity
            android:name=".views.activities.AddDetailResume"
            android:exported="false"
            android:theme="@style/Theme.ResumeMaker" />
        <activity
            android:name=".views.activities.DownloadActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.ChoiceTemplate"
            android:exported="false" />
        <activity
            android:name=".views.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main_activty"
            android:theme="@style/Theme.ResumeMaker.NoActionBar" />
        <activity
            android:name=".views.activities.BoardingScreen"
            android:exported="false" />
        <activity
            android:name=".views.activities.SplachScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6965793011515375~7799858493"/>
    </application>

</manifest>
